.f-container{
    padding:20px 15px;
}
.f-row{
    display: flex;
    justify-content:space-between;
    
}
.f-col{
    flex:1;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.f-col:nth-child(1) img{
    width:250px;
    margin-bottom: 20px;
}
.f-col:nth-child(1) p{
    text-align:center;
    letter-spacing:1.2px;
}
.f-col:nth-child(2) h2,
.f-col:nth-child(3) h2,
.f-col:nth-child(4) h2{
    margin-bottom: 20px;
    letter-spacing:1.5px;
}
.f-col:nth-child(2) ul li a,
.f-col:nth-child(3) ul li a{
    color:#001e28;
    letter-spacing:1.2px;
    margin-top: 20px;
}

.f-col:nth-child(2) ul li a:hover,
.f-col:nth-child(3) ul li a:hover{
    color:tomato;
    
}
.f-copyrow{
    text-align:center;
    font-size:12px;
    letter-spacing:1.2px;
    padding:10p 0x;
}

@media screen and (max-width: 780px) {
    .f-row {
        flex-direction: column;
    }

    .f-col {
        margin-bottom: 20px;
    }
}